*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  body{
    background-color: #f7f5f5;
  }
  .calc{
    border-radius: 20px;
    background-color:yellow;
    padding: 20px;
    border: none;
    
    box-shadow:-1px -1px 10px 10px rgba(11, 11, 11, 0.5);
  }
  #input{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    font-size: 3rem;
    height: 100px;
    border: none;
    background:rgba(0,0,0,0.5);
    text-align: right;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(14, 13, 13);
    cursor: pointer;
  }
  button{
    background-color: rgb(11, 11, 11);
    font-size: 180%;
    border: none;
    color: rgb(246, 242, 242);
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgb(49, 45, 8,1) ,-6px -6px 10px rgba(49,45, 8, 1);
    cursor: pointer;
  }
  button:active {
    transform: scale(0.95);
  }
  